<div class="container-fluid">

  <div class="row">
    <button class="col-xs-3 btn btn-primary" (click)="onClickCreateCategory()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
    <div class="col-xs-9">
      <input class="form-control"  type="text" placeholder="&#xF002; Search" [(ngModel)]="search" (ngModelChange)="getCategory()" (keydown)="onEnterSearch($event)">
    </div>
  </div>
<br/>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody *ngFor="let category of category_data; let i = index">
    <tr>
      <th scope="row">{{ category.idx }}</th>
      <td>{{ category.content }} </td>
      <td>
        <span class="tag tag-success" *ngIf="category.varchar_1 == 'true'">
          Active
        </span>
        <span class="tag tag-danger" *ngIf="category.varchar_1 == 'false'">Inactive</span>
      </td>

      <td> 
<!--ACTIONS-->
<div class="btn-group btn-group-sm">
  <button type="button" class="btn btn-secondary">Action</button>
  <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="onClickEdit( category, i )">
        <span class="tag tag-success">
          <i class="fa fa-pencil-square-o" aria-hidden="true">
          </i>
        </span> 
        EDIT
    </a>
    <a class="dropdown-item" (click)="onClickDelete( category.idx, i )">
        <span class="tag tag-danger" (click)="onClickDelete( category.idx, i )">
          <i class="fa fa-trash-o" aria-hidden="true">
          </i>
        </span>
        DELETE
    </a>

  </div>
</div>
<!--ACTIONS-->
      </td>

    </tr>
  </tbody>

</table>
</div>