<div class="container-fluid">
  <div *ngIf="!categoryInfo.content">loading</div>
  <div class="jumbotron jumbotron-fluid" *ngIf="categoryInfo.content">
    <div class="container">
      <h1 class="display-3">{{ subjectInfo.content }}</h1>
      <p class="lead">Category: {{ categoryInfo.content }}</p>
      <p class="lead">Status: 
        <span *ngIf="subjectInfo.varchar_1 == 'true'"><span class="tag tag-success">Active</span></span>
        <span *ngIf="subjectInfo.varchar_1 == 'false'"><span class="tag tag-danger">Inactive</span></span>
      </p>
      <p class="lead">Time Limit: {{ subjectInfo.varchar_3 }}</p>
    </div>
  </div>


  <button class="btn btn-secondary btn-sm" (click)="onClickAddQuestions()" *ngIf="activeCheck">Add Question</button>
  <button class="btn btn-secondary btn-sm" disabled *ngIf="!activeCheck">Add Question</button>
</div>

<br/>
<hr/>
<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" *ngIf="subjectInfo.varchar_1 == 'true'">
  <ngb-panel id="{{ exam.idx }}" title="Question No. {{ i + 1}}" *ngFor="let exam of question_data; let i = index">
    <template ngbPanelContent>
        {{ exam.content }}
      <ol choices>
        <li>{{ exam.varchar_1 }} </li>
        <li>{{ exam.varchar_2 }} </li>
        <li>{{ exam.varchar_3 }} </li>
        <li>{{ exam.varchar_4 }} </li>
      </ol>
      <hr/>
      <h4>{{ exam.varchar_5 }}</h4>
      <button class="btn btn-success btn-sm" (click)="onClickEdit( exam.idx, exam.content, exam.varchar_1, exam.varchar_2, exam.varchar_3, exam.varchar_4, exam.varchar_5 )">EDIT</button> |
      <button class="btn btn-danger btn-sm" (click)="onClickDelete( exam.idx, i )">DELETE</button>  
      
  
    </template>
  </ngb-panel>


  
</ngb-accordion>